.array {
    background-color: darkolivegreen;
    display: inline-block;
    width: 9px;
    height: 200px;
    margin: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}