#bars-container {
    text-align: center;
    position: absolute;
    margin: auto;
    right: 0;
    bottom: 10%;
    left: 0;
}

.array {
    background-color: #24682d;
    display: inline-block;
    width: 15px;
    height: 200px;
    margin: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
}

#color-strip {
    background-color: #24682d;
    height: 6px;
}
