#bars-container {
    position: relative;
    height: 80vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 75%;
}

#body-container {
    display: flex;
    justify-content: space-around;
}

#left-container {
    width: 12.5%;
    max-width: 12.5%;
    min-width: 12.5%;
}

#right-container {
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-box-container {
    margin: auto;
}

.info-icon { 
    color: hsl(270, 95%, 20%)
}

#info-button {
    border-color: hsl(270, 95%, 25%);
    background-color: hsla(270, 95%, 30%, 0.1);
}

.array {
    background-color: #24682d;
    display: inline-block;
    width: 15px;
    height: 200px;
    margin: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    bottom: 0px;
    vertical-align: middle;
    color: transparent;
}

.array:hover {
    background-color: #2a8f38!important;
    color: black!important;
}

/* #value {
    position: relative;
    left: inherit;
    align-self: center;
    z-index: 2;
} */

#color-strip {
    background-color: #24682d;
    height: 6px;
}

#seconds {
    display: inline-block;
    min-width: 153px;
}

#centiseconds {
    display: inline-block;
    vertical-align: super;
    font-size: 26px;
    font-weight: 600;
    min-width: 34px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

/* Info box overrides */
.MuiBackdrop-root { opacity: 0.3!important; }

.MuiDialogTitle-root { padding-bottom: 0!important; }

.MuiDialogActions-root { padding-top: 0!important; }

.MuiDialogContent-root {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
