#bars-container {
    position: relative;
    margin: 0 auto 0;
    height:80vh;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    max-width: 89%;
}

.array {
    background-color: #24682d;
    display: inline-block;
    width: 15px;
    height: 200px;
    margin: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
    bottom: 0px;
    vertical-align: middle;
    color: transparent;
}

.array:hover {
    background-color: #2a8f38!important;
    color: black!important;
    /* align-items: center; */
}
#value {
    position: relative;
    /* bottom: 17px; */
    left: inherit;
    /* color: black!important; */
    align-self: center;
    z-index: 2;
}

#color-strip {
    background-color: #24682d;
    height: 6px;
}

#timer-container {
    display: inline;
    position: absolute;
    /* bottom: 2.5%; */
    margin: auto;
    /* padding: 10px;
    background-color: rgb(22, 94, 161);
    border-radius: 20px; */
    text-align: center;
    top: 93%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.timer {
    vertical-align: middle;
    display: inline-block;
}

.timer-icon {
    width: 90px;
}

.timer-display {
    display: inline-block;
    font-size: 52px;
    font-weight: 700;
    vertical-align: middle;
}

#seconds {
    display: inline-block;
    min-width: 153px;
}

#centiseconds {
    display: inline-block;
    vertical-align: super;
    font-size: 26px;
    font-weight: 600;
    min-width: 34px;
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
  }
