#body-container {
    height: 100vh;
}

#body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#color-strip {
    background-color: #24682d;
    height: 6px;
}

#horizontal-container {
    display: flex;
    justify-content: space-around;
    height: 75vh;
}


#left-container {
    width: 12.5%;
}

#right-container {
    width: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bars-container {
    position: relative;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    max-width: 75%;
    display: table;
    height: 100%;
}

#bars-cell {
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: scroll;
    display: table-cell;
    vertical-align: middle;
}

.array {
    background-color: #24682d;
    display: inline-block;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    vertical-align: middle;
    align-self: center;
    justify-self: center;
}

.array:hover {
    background-color: #2a8f38!important;
    color: black!important;
}

#info-box-container {
    margin: auto;
}

.info-icon { 
    color: hsl(270, 95%, 20%)
}

#info-button {
    border-color: hsl(270, 95%, 25%);
    background-color: hsla(270, 95%, 30%, 0.1);
}

.noselect {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
}

/* Info box overrides */
.MuiBackdrop-root { opacity: 0.3!important; }
.MuiDialogTitle-root { padding-bottom: 0!important; }
.MuiDialogActions-root { padding-top: 0!important; }
.MuiDialogContent-root {
    padding-top: 0!important;
    padding-bottom: 0!important;
}
