#timer-container {
    display: inline;
    margin: auto;
    text-align: center;
}

.timer {
    vertical-align: middle;
    display: inline-block;
}

.timer-icon {
    width: 90px;
}

.timer-display {
    display: inline-block;
    font-size: 52px;
    font-weight: 700;
    vertical-align: middle;
}

#seconds {
    display: inline-block;
    min-width: 153px;
}

#centiseconds {
    display: inline-block;
    vertical-align: super;
    font-size: 26px;
    font-weight: 600;
    min-width: 34px;
}
